<div class="container">
  <div class='spinner-container' *ngIf='dataSource.loading | async'>
    <mat-spinner></mat-spinner>
  </div>
  
  <div class="error-container" *ngIf='dataSource.error | async'>
    <h3>Error</h3>
    <p>{{dataSource.error | async}}</p>
  </div>

  <mat-form-field class="filter-field">
    <input matInput placeholder="Search logs" #input>
  </mat-form-field>

  <mat-table #table [dataSource]="dataSource" matSort matSortActive="date" matSortDirection="desc" matSortDisableClear>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.name | concat: row.surname | titlecase}}</mat-cell>
    </ng-container>

    <!-- Time Column -->
    <ng-container matColumnDef="date">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Time</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.date | date:'HH:mm, dd MMM y'}}</mat-cell>
    </ng-container>

    <!-- Item Column -->
    <ng-container matColumnDef="item">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Item</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.item | titlecase}}</mat-cell>
      </ng-container>

    <!-- Price Column -->
    <ng-container matColumnDef="price">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Price</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.price | currency:'ZAR':'symbol-narrow' }}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator #paginator
    [pageIndex]="0"
    [showFirstLastButtons]="true">
  </mat-paginator>
</div>