<div class='container'>
    <h2 mat-display-1>Load Credit for {{user.name}}</h2>
  
    <div class='spinner-container' *ngIf='loading | async'>
      <mat-spinner></mat-spinner>
    </div>
  
    <form class="form-container">
      <mat-form-field>
        <input matInput currencyMask [options]="{ prefix: 'R ', allowNegative: false }" placeholder="Amount" [formControl]="amount" required>
        <mat-error *ngIf="amount.invalid">{{getErrorMessage('amount')}}</mat-error>
      </mat-form-field>
  
      <div class="buttons">
        <button mat-raised-button color="primary" (click)="loadUserCredit()">Load</button>
        <button mat-raised-button mat-dialog-close class="cancel-button" color="primary">Cancel</button>
      </div>
    </form>
  </div>