<mat-card class="table-card">
  <mat-card-header>
    <app-card-header [image]="recentActivityCardConstants.imageUrl"
                     [title]="recentActivityCardConstants.title"
                     [backgroundColor]="recentActivityCardConstants.backgroundColor"
                     [imageBackgroundColor]="recentActivityCardConstants.imageBackgroundColor">
    </app-card-header>
  </mat-card-header>
  
  <mat-card-content>
    <recent-activity-table></recent-activity-table>
  </mat-card-content>
</mat-card>