<div class="grid-container">
  <mat-grid-list [cols]="breakpoint" rowHeight="20em" gutterSize=0 (window:resize)="onResize($event)">
    <mat-grid-tile colspan="1" rowspan="1">
      <mat-card class="dashboard-card">
        <app-top-drinkers></app-top-drinkers>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile colspan="1" rowspan="1">
      <mat-card class="dashboard-card">
        <app-top-milk></app-top-milk>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile colspan="1" rowspan="1">
      <mat-card class="dashboard-card">
        <app-top-debtors></app-top-debtors>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>

  <div class="coffeelog-card">
    <app-coffeelog-card></app-coffeelog-card>
  </div>
</div>