.grid-container {
  margin: 1em;
}

mat-grid-list {
  min-width: 25em;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  padding: 0;
}

.coffeelog-card {
  padding: 15px;
  min-width: 25em;
}