<!--The content below is only a placeholder and can be replaced.-->
<navigation>
  <div class="wrap">
    <main class="content">
      <router-outlet></router-outlet>
    </main>

    <footer>
      <app-footer></app-footer>
    </footer>
  </div>
</navigation>