<mat-card class="table-card">
  <mat-card-header>
    <app-card-header [image]="userCardConstants.imageUrl"
                     [title]="userCardConstants.title"
                     [backgroundColor]="userCardConstants.backgroundColor"
                     [imageBackgroundColor]="userCardConstants.imageBackgroundColor">
    </app-card-header>
  </mat-card-header>

  <mat-card-content>
    <app-user-table></app-user-table>
  </mat-card-content>
</mat-card>