<div class="container">
  <div class='spinner-container' *ngIf='dataSource.loading | async'>
    <mat-spinner></mat-spinner>
  </div>
  
  <div class="error-container" *ngIf='dataSource.error | async'>
    <h3>Error</h3>
    <p>{{dataSource.error | async}}</p>
  </div>

  <mat-form-field class="filter-field">
    <input matInput placeholder="Search activities" #input>
  </mat-form-field>

  <mat-table #table [dataSource]="dataSource" matSort matSortActive="date" matSortDirection="desc" matSortDisableClear>

    <!-- Date Column -->
    <ng-container matColumnDef="date">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Date</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.date | date:'HH:mm, dd MMM y'}}</mat-cell>
    </ng-container>

    <!-- Description Column -->
    <ng-container matColumnDef="description">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Description</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.description}}</mat-cell>
      </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator #paginator
    [pageIndex]="0"
    [showFirstLastButtons]="true">
  </mat-paginator>
</div>