<mat-sidenav-container class="all-wrap sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <mat-toolbar color="primary">{{ menuTitle }}</mat-toolbar>
    <mat-nav-list class="nav-list">
      <a mat-list-item *ngFor="let link of links" routerLink="{{ link.ref }}" routerLinkActive="selected">{{ link.name }}</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="wrap">
    <mat-toolbar class="header" color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <img src="../../assets/images/esl_coffeebot_logo.png" alt="" class="logo">
    </mat-toolbar>
    
    <div class="content">
      <ng-content></ng-content>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
