@import '../../custom/colors/_colors.scss';

/*
 * Side Navigation Bar
 */
.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 160px;
  background: $gray-light;
}

.nav-list {
  padding: 0;
}

.nav-link:hover {
  background: $gray-medium;
}

.selected {
  background: $gray-medium;
}

/*
 * Fixed header
 */
.wrap {
  height: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  flex: 0 0 auto;
}

.content {
  flex: 1 1 auto;
  flex-direction: column;
  position: relative;
  overflow-y: auto;
  background: $white;
}

.logo {
  padding-left: 0.4em;
  height: 60%;
}