@import '~@angular/material/theming';

$blue-dark: mat-color($mat-blue, 500); /* #2196F3 */
$blue-light: mat-color($mat-blue, 200); /* #90CAF9 */

$gray-dark: mat-color($mat-gray, 500); /* #9E9E9E */
$gray-medium: mat-color($mat-gray, 300); /* # */
$gray-light: mat-color($mat-gray, 200); /* #EEEEEE */

$yellow-dark: mat-color($mat-amber, 500); /* #FFC107 */
$yellow-light: mat-color($mat-amber, 200); /* #FFE082 */

$red-dark: mat-color($mat-red, 500); /* #F44336 */
$red-light: mat-color($mat-red, 200); /* #EF9A9A */

$green-dark: mat-color($mat-green, 500); /* #4CAF50 */
$green-light: mat-color($mat-green, 200); /* #A5D6A7 */

$brown-dark: mat-color($mat-brown, 500); /* #795548 */
$brown-light: mat-color($mat-brown, 200); /* #BCAAA4 */

$deep-red: mat-color($mat-red, 900); /* #B71C1C */
$deep-green: mat-color($mat-green, 900); /* #1B5E20 */

$silver-dark: mat-color($mat-gray, 500); /* #9E9E9E */
$silver-light: mat-color($mat-gray, 300); /* #E0E0E0 */

$white: white; /* #FFF */
$black: black; /* #000 */