<div class="container">
  <div class='spinner-container' *ngIf='dataSource.loading | async'>
    <mat-spinner></mat-spinner>
  </div>
    
  <div class="error-container" *ngIf='dataSource.error | async'>
    <h3>Error</h3>
    <p>{{dataSource.error | async}}</p>
  </div>

  <div>
    <form class="form-field">
      <div class="user-buttons">
        <button mat-raised-button color="primary" (click)="newUser()">New User..</button>
        <button mat-raised-button [disabled]="!selection.hasValue()" color="primary" (click)="deleteUsers()">Delete Selected</button>
      </div>

      <mat-form-field>
        <input matInput placeholder="Search users" #input>
      </mat-form-field>
    </form>
      
    <table mat-table [dataSource]="dataSource" matSort matSortActive="name" matSortDirection="asc" matSortDisableClear>

      <!-- Selection Column -->
      <ng-container matColumnDef="selection" class="mat-column-select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()">

          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)">

          </mat-checkbox>
        </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
        <td mat-cell *matCellDef="let row">{{row.name | concat: row.surname | titlecase}}</td>
      </ng-container>

      <!-- Student Number Column -->
      <ng-container matColumnDef="studentNumber">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Student Number</th>
        <td mat-cell *matCellDef="let row">{{row.studentNumber}}</td>
      </ng-container>

      <!-- Balance Column -->
      <ng-container matColumnDef="balance">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Balance</th>
        <td mat-cell class="green-cell" [class.red]="row.balance < 0" *matCellDef="let row">{{row.balance | currency:'ZAR':'symbol-narrow' }}</td>
      </ng-container>

      <!-- Options Column -->
      <ng-container matColumnDef="options">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let row" style="width: 20%; text-align: center;">
          <button mat-stroked-button class="load-button" (click)="loadCredit(row)">Load Credit..</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator #paginator
      [pageIndex]="0"
      [showFirstLastButtons]="true">
    </mat-paginator>
  </div>
</div>