@import '../../custom/colors/_colors.scss';

.container {
    position: relative;
    padding: 1em;
}

.spinner-container {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-field {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    // padding: 1em 1em 1em 1em;
}

.user-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.user-buttons * {
    margin-left: 1em;
}

.error-container {
    color: $deep-red;
    margin: 2em 6em 0 6em;
}

table tr:hover {
    background: $gray-light;
}

.load-button:hover {
    color: $blue-dark;
}

table {
  width: 100%;
}

.mat-column-select {
  overflow: initial;
}

.green-cell {
    color: $deep-green;
}

.red {
    color: $deep-red;
}