@import '../../../custom/colors/_colors.scss';

.card-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: $yellow-light;
    width: 100%;
    padding: 0;
}

.filter-form-field {
    width: 5em;
    font-size: 1em;
    margin-right: 1em;
    align-self: flex-end;
}

.card-content {
    display: table;
    height: 15em;
    width: 100%;
}

.spinner-container {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    padding: 0 6em 0 6em;
}

.error-message {
    color: $deep-red;
}

.message {
    font-size: 1.2em;
}

.message-container {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    padding: 0 6em 0 6em;
}

.top-positions-list {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    padding: 2em 2em 0 2em;
}

.top-positions-list mat-list-item {
    max-width: 30em;
    margin: 0 auto 0 auto;
}

.left {
    display: inline-block;
    text-align: left;
    height: 100%;
    width: 10%;
}

.name {
    display: inline-block;
    font-size: 1em;
    height: 100%;
    width: 75%;
}

.right {
    color: $gray-dark;
    display: inline-block;
    text-align: right;
    height: 100%;
    width: 15%;
}