<div class="card-header">
    <app-card-header class="top-drinkers-header"
                     [image]="topDrinkersCardConstants.imageUrl"
                     [title]="topDrinkersCardConstants.title"
                     [backgroundColor]="topDrinkersCardConstants.backgroundColor"
                     [imageBackgroundColor]="topDrinkersCardConstants.imageBackgroundColor">
    </app-card-header>
  
    <mat-form-field class="filter-form-field">
      <mat-select placeholder="Filter" [(ngModel)]="selectedTime" (selectionChange)="changeFilter()">
        <mat-option *ngFor="let time of timeFrames" [value]="time">{{time | titlecase}}</mat-option>
      </mat-select>
    </mat-form-field>
</div>

<mat-card-content class="card-content">
  <div class='spinner-container' *ngIf='loading | async'>
    <mat-spinner></mat-spinner>
  </div>

  <div *ngIf="error" class="message-container error-message">
    <h3>Error</h3>
    <p>{{error}}</p>
  </div>

  <div *ngIf="message" class="message-container message">
    <p>{{message}}</p>
  </div>

  <mat-list class="top-positions-list">
    <mat-list-item *ngFor="let user of topDrinkers | async; let i = index">
      <span class="left">{{i + 1}}.</span>
      <span class="name">{{user.user.name}} {{user.user.surname}}</span>
      <span class="right">{{user.purchases}}</span>
    </mat-list-item>
  </mat-list>
</mat-card-content>