<div class='container'>
  <h2 mat-display-1>Change Password</h2>

  <div class='spinner-container' *ngIf='loading | async'>
    <mat-spinner></mat-spinner>
  </div>

  <form class="form-container">
    <mat-form-field>
      <input matInput type="password" placeholder="Old Password" [formControl]="oldpassword" required>
      <mat-error *ngIf="oldpassword.invalid">{{getErrorMessage('oldpassword')}}</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput type="password" placeholder="New Password" [formControl]="newpassword" required>
      <mat-error *ngIf="newpassword.invalid">{{getErrorMessage('newpassword')}}</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput type="password" placeholder="Re-type Password" [formControl]="retypepassword" required>
      <mat-error *ngIf="retypepassword.invalid">{{getErrorMessage('retypepassword')}}</mat-error>
    </mat-form-field>

    <div class="buttons">
      <button mat-raised-button color="primary" (click)="change()">Change</button>
      <button mat-raised-button mat-dialog-close class="cancel-button" color="primary">Cancel</button>
    </div>
  </form>
</div>