.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.spinner-container {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-evenly;
}

.form-container mat-form-field {
    margin-bottom: 1em;
}

.buttons {
    display: flex;
    justify-content: flex-end;
}

.cancel-button {
    z-index: 2;
}

.buttons * {
    margin-left: 1.5em;
}