<div class="background" [style.background]="backgroundColor">
  <div class="header-image-container" [style.background]="imageBackgroundColor">
    <img class="header-image" [src]="image" alt="">
  </div>

  <h2>{{title}}</h2>
</div>