.background {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: 5em;
}

.background > * {
    vertical-align: middle;
}

.background h2 {
    margin: auto 1em auto 1em;
    font-weight: normal;
    //height: auto;
}

.header-image-container {
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-content: center;
    height: 5em;
    width: 5em;
}

.header-image {
    width: 3em;
    height: 3em;
    margin: auto;
}