<div class='container'>
  <h2 mat-display-1>Enter User Details</h2>

  <div class='spinner-container' *ngIf='loading | async'>
    <mat-spinner></mat-spinner>
  </div>

  <form class="form-container">
    <mat-form-field>
      <input matInput type="text" placeholder="Name" [formControl]="name" required>
      <mat-error *ngIf="name.invalid">{{getErrorMessage('name')}}</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput type="text" placeholder="Surname" [formControl]="surname" required>
      <mat-error *ngIf="surname.invalid">{{getErrorMessage('surname')}}</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput åmaxlength="8" minlength="8" placeholder="Student Number" [formControl]="studentNumber" required>
      <mat-error *ngIf="studentNumber.invalid" align="start">{{getErrorMessage('studentNumber')}}</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Student Card UUID" [formControl]="cardUUID" [(value)]="selectedUnregisteredUser" required>
        <mat-optgroup label="Card UUID's">
          <mat-option *ngFor="let user of unregisteredUsers | async" [value]="user">{{user.cardUUID}}</mat-option>
        </mat-optgroup>
      </mat-select>
      <mat-error *ngIf="cardUUID.invalid" align="start">{{getErrorMessage('cardUUID')}}</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput currencyMask [options]="{ prefix: 'R ', allowNegative: true }" placeholder="Initial Credit Balance" [formControl]="balance" required>
      <mat-error *ngIf="balance.invalid">{{getErrorMessage('balance')}}</mat-error>
    </mat-form-field>

    <div class="buttons">
      <button mat-raised-button color="primary" (click)="addUser()">Add</button>
      <button mat-raised-button mat-dialog-close class="cancel-button" color="primary">Cancel</button>
    </div>
  </form>
</div>