<div class="container">
  <div class='spinner-container' *ngIf='dataSource.loading | async'>
    <mat-spinner></mat-spinner>
  </div>
  
  <div class="error-container" *ngIf='dataSource.error | async'>
    <h3>Error</h3>
    <p>{{dataSource.error | async}}</p>
  </div>

  <mat-form-field class="filter-field">
    <input matInput placeholder="Search users" #input>
  </mat-form-field>

  <mat-table #table [dataSource]="dataSource" matSort matSortActive="name" matSortDirection="asc" matSortDisableClear>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.name | concat: row.surname | titlecase}}</mat-cell>
    </ng-container>

    <!-- Student Number Column -->
    <ng-container matColumnDef="studentNumber">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Student Number</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.studentNumber}}</mat-cell>
    </ng-container>

    <!-- Balance Column -->
    <ng-container matColumnDef="balance">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Balance</mat-header-cell>
      <mat-cell class="green-cell" [class.red]="row.balance < 0" *matCellDef="let row">{{row.balance | currency:'ZAR':'symbol-narrow' }}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator #paginator
    [pageIndex]="0"
    [showFirstLastButtons]="true">
  </mat-paginator>
</div>