@import '../../../custom/colors/_colors.scss';

.container {
    position: relative;
    padding: 1em;
}

.spinner-container {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.filter-field {
    display: block;
    width: inherit;
    padding: 1em 1em 1em 1em;
}

.error-container {
    color: $deep-red;
    margin: 2em 6em 0 6em;
}

mat-table mat-row:hover {
    background: $gray-light;
}

.green-cell {
    color: $deep-green;
}

.red {
    color: $deep-red;
}