<mat-card class="table-card">
  <mat-card-header>
    <app-card-header [image]="coffeelogCardConstants.imageUrl"
                     [title]="coffeelogCardConstants.title"
                     [backgroundColor]="coffeelogCardConstants.backgroundColor"
                     [imageBackgroundColor]="coffeelogCardConstants.imageBackgroundColor">
    </app-card-header>
  </mat-card-header>
  
  <mat-card-content>
    <coffeelog-table></coffeelog-table>
  </mat-card-content>
</mat-card>