@import '../../../custom/colors/_colors.scss';

mat-card-header {
    display: block;
    width: inherit;
}

mat-card-content {
    display: table;
    height: 15em;
    width: 100%;
}

.spinner-container {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    padding: 0 6em 0 6em;
}

.error-message {
    color: $deep-red;
}

.message {
    font-size: 1.2em;
}

.message-container {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    padding: 0 6em 0 6em;
}

.top-positions-list {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    padding: 2em 2em 0 2em;
}

.top-positions-list mat-list-item {
    max-width: 30em;
    margin: 0 auto 0 auto;
}

.left {
    display: inline-block;
    text-align: left;
    height: 100%;
    width: 10%;
}

.name {
    display: inline-block;
    font-size: 1em;
    height: 100%;
    width: 65%;
}

.right {
    display: inline-block;
    text-align: right;
    height: 100%;
    width: 25%;
}