<mat-card-header>
    <app-card-header [image]="topDebtorsCardConstants.imageUrl"
                     [title]="topDebtorsCardConstants.title"
                     [backgroundColor]="topDebtorsCardConstants.backgroundColor"
                     [imageBackgroundColor]="topDebtorsCardConstants.imageBackgroundColor">
    </app-card-header>
  </mat-card-header>
  
  <mat-card-content>
    <div class='spinner-container' *ngIf='loading | async'>
      <mat-spinner></mat-spinner>
    </div>

    <div *ngIf="error" class="message-container error-message">
      <h3>Error</h3>
      <p>{{error}}</p>
    </div>

    <div *ngIf="message" class="message-container message">
      <p>{{message}}</p>
    </div>

    <mat-list class="top-positions-list">
        <mat-list-item *ngFor="let user of topDebtors | async; let i = index">
          <span class="left">{{i + 1}}.</span>
          <span class="name">{{user.name}} {{user.surname}}</span>
          <span [style.color]="balanceColor" class="right">{{user.balance | currency:'ZAR':'symbol-narrow'}}</span>
        </mat-list-item>
    </mat-list>
  </mat-card-content>