<div class="container">
  <mat-card class="login-card mat-elevation-z8">
    <mat-card-title class="card-title">
      <h2 class="mat-display-2">coffeebot <br> login</h2>
    </mat-card-title>

    <mat-card-content class="card-content">
      <form class="login-form">
        <mat-form-field>
          <input matInput type="email" placeholder="Username" [formControl]="email" required>
          <mat-error *ngIf="email.invalid">{{getErrorMessage('email')}}</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput type="password" placeholder="Password" [formControl]="password" required>
          <mat-error *ngIf="password.invalid">{{getErrorMessage('password')}}</mat-error>
        </mat-form-field>

        <button mat-raised-button color="primary" (click)="login()">Login</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>