@import '../../custom/colors/_colors.scss';

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: $blue-dark;
}

.login-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25em;
    height: 30em;
    padding: 0;
}

.card-title * {
    padding: 0;
    margin: 0;
    font-family: 'Pacifico';
    text-align: center;
    color: $black;
    text-shadow: 0 4px $gray-light;
}

.card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 50%;
}

.card-content * {
    width: 100%;
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
}