@import '../../custom/colors/_colors.scss';

$break: 1280px;

@mixin respond-to($media) {
  @if $media == handhelds {
    @media only screen and (max-width: $break) { @content; }
  }
  @else if $media == screens {
    @media only screen and (min-width: $break) { @content; }
  }
}

/*
 * Side Navigation Bar
 */
.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 15em;
  background: $gray-light;
}

/*
 * Fixed header
 */
.wrap {
  height: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  flex: 0 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logout-button {
  font-weight: bolder;
  font-size: 0.8em;
  color: $black;
}

.content {
  flex: 1 1 auto;
  flex-direction: column;
  position: relative;
  background: $white;
  padding: 0 2em 0 2em;
  overflow-y: auto;
  background: $white;
}

.content * {
    font-weight: normal;
}

.logo {
  height: 60%;
}

// Content
.user-management-title {
  margin-bottom: 0;
}

.subtitle {
  color: $gray-dark;
}

.forms {
  display: flex;
  @include respond-to(handhelds) { flex-direction: column; }
  @include respond-to(screens) { flex-direction: row; }
  justify-content: space-around;
  align-items: stretch;
  width: 100%;
  margin-bottom: 3em;
}

.admin-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 35%;
  // border: 1px solid black;

  @include respond-to(handhelds) { margin-bottom: 2em; }
}

.spinner-container {
  position: absolute;
  width: 100%;
  @include respond-to(screens) { height: 50%; }
  @include respond-to(handhelds) { height: 100%; }
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.price-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 35%;
  // border: 1px solid black;
}

.coffee-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  // border: 1px solid black;
}

.coffee-form mat-form-field {
  margin-top: 1em;
}

.admin-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.admin-form mat-form-field {
  margin-top: 1em;
}

.admin-buttons {
  display: flex;
  @include respond-to(handhelds) { flex-direction: column; }
  @include respond-to(screens) { flex-direction: row; }
  justify-content: space-between;
  width: 100%;
}

.admin-buttons * {
  @include respond-to(handhelds) { margin-bottom: 1em; }
}

.admin-buttons button {
  flex-basis: 48%;
}

.reset-pass {
  color: white;
  background-color: $deep-red;
}