<mat-sidenav-container class="all-wrap sidenav-container">

    <mat-sidenav
      #drawer
      class="sidenav"
      fixedInViewport="true"
      position="start"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
      <mat-toolbar color="primary"></mat-toolbar>
    </mat-sidenav>

    <mat-sidenav
      #drawer
      class="sidenav"
      fixedInViewport="true"
      position="end"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
      <mat-toolbar color="primary"></mat-toolbar>
    </mat-sidenav>

    <mat-sidenav-content class="wrap">
      <mat-toolbar class="header" color="primary">
      <img src="../../assets/images/esl_coffeebot_admin_logo.png" alt="" class="logo">
      <button mat-button class="logout-button" (click)="logout()">Logout</button>
    </mat-toolbar>
    
    <div class="content">
      <h1 mat-display-1>Welcome, {{admin.name}} {{admin.surname}}!</h1>
      <h2 mat-display-2 class="user-management-title">User Management</h2>
      <user-management></user-management>

      <div class="forms">
        <div class='spinner-container' *ngIf='loading | async'>
          <mat-spinner></mat-spinner>
        </div>
        <div class="admin-container">
            <form class="admin-form">
              <h2 mat-display-2>Admin Details</h2>
              <mat-form-field>
                <input matInput type="text" placeholder="Name" [formControl]="name" required>
                <mat-error *ngIf="name.invalid">{{getErrorMessage('name')}}</mat-error>
              </mat-form-field>
  
              <mat-form-field>
                <input matInput type="text" placeholder="Surname" [formControl]="surname" required>
                <mat-error *ngIf="surname.invalid">{{getErrorMessage('surname')}}</mat-error>
              </mat-form-field>
  
              <mat-form-field>
                <input matInput type="email" placeholder="Email" [formControl]="email" required>
                <mat-error *ngIf="email.invalid">{{getErrorMessage('email')}}</mat-error>
              </mat-form-field>
  
              <div class="admin-buttons">
                <button mat-raised-button color="primary" (click)="updateAdmin()" [disabled]="disableAdminUpdate()">Update Info</button>
                <button mat-raised-button class="reset-pass" (click)="changePassword()">Change Password</button>
              </div>
            </form>
          </div>

        <div class="price-container">
          <form class="coffee-form">
            <div>
              <h2 mat-display-2>Coffee Prices</h2>
              <h4 mat-display-4 class="subtitle">*Only change the prices if absolutely necessary.</h4>
            </div>

            <mat-form-field>
              <input matInput currencyMask [options]="{ prefix: 'R ', allowNegative: false }" placeholder="Coffee Price" [formControl]="coffeeprice" required min="0.01">
              <mat-error *ngIf="coffeeprice.invalid">{{getErrorMessage('coffeeprice')}}</mat-error>
            </mat-form-field>

            <mat-form-field>
              <input matInput currencyMask [options]="{ prefix: 'R ', allowNegative: false }" placeholder="Milk Price" [formControl]="milkprice" required>
              <mat-error *ngIf="milkprice.invalid">{{getErrorMessage('milkprice')}}</mat-error>
            </mat-form-field>

            <button mat-raised-button color="primary" (click)="update()" [disabled]="disableCoffeePriceUpdate()">Update</button>
          </form>
        </div>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
  