@import '~@angular/material/theming';

@include mat-core();

$coffeebot-app-primary: mat-palette($mat-blue, 500, 200, 700);
$coffeebot-app-accent:  mat-palette($mat-pink, A200, A100, A400);

$coffeebot-app-warn:    mat-palette($mat-red);

$coffeebot-app-theme: mat-light-theme($coffeebot-app-primary, $coffeebot-app-accent, $coffeebot-app-warn);

@include angular-material-theme($coffeebot-app-theme);